@import "null.css";
@import "swiper-bundle.min.css";
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy-regular.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg');
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/gilroy-semibold.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg');
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy-bold.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/gilroy-medium.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'icons';
  font-display: swap;
  src: url('../fonts/icons.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}
._icon-arrow-down:before {
  content: "\e900";
}
._icon-arrow-link:before {
  content: "\e901";
}
._icon-cart:before {
  content: "\e902";
}
._icon-favorite:before {
  content: "\e903";
}
._icon-location:before {
  content: "\e904";
}
._icon-phone:before {
  content: "\e905";
}
._icon-search:before {
  content: "\e906";
}
._icon-send:before {
  content: "\e907";
}
._icon-share:before {
  content: "\e908";
}
.wrap {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@keyframes go-flash {
  /* объявляем имя анимации: "flash" */
  from {
    color: #ffffff00;
  }
  to {
    color: #898989;
  }
}
._container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
._loading {
  position: relative;
}
._loading::before {
  content: 'loading...';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffffaf;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #898989;
  font-family: Gilroy-Medium;
  font-size: 1.5em;
  animation: go-flash 2s infinite alternate ease-out;
}
._invisible {
  visibility: hidden;
  opacity: 0;
}
._transform0 {
  transform: scale(0);
}
body {
  font-family: Gilroy-Regular;
  font-size: 16px;
  color: #3A3A3A;
}
a {
  color: inherit;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}
.btn_white {
  color: #E89F71;
  background: #ffffff;
}
@media (any-hover: hover) {
  .btn_white:hover {
    color: #ffffff;
    background: #E89F71;
  }
}
._title {
  font-size: calc(24px + (40 - 24) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-Bold;
  line-height: 120%;
  text-align: center;
}
._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  column-gap: 8px;
}
.slider-arrow {
  border-radius: 50%;
  height: 48px;
  background-color: rgba(232, 159, 113, 0.3);
  color: #E89F71;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.slider-arrow_prev::before {
  transform: rotate(90deg);
}
.slider-arrow_next::before {
  transform: rotate(-90deg);
}
@media (any-hover: hover) {
  .slider-arrow:hover {
    color: #ffffff;
    background-color: #e89f71;
  }
}
.slider-arrow_white {
  box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
@media (any-hover: hover) {
  .slider-arrow_white:hover {
    color: #ffffff;
    background-color: #E89F71;
  }
}
.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
}
.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  background: inherit;
  opacity: inherit;
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}
.swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #d8d8d8;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #E89F71;
  transition: transform 0.3s ease 0s;
  transform: scale(0);
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: none;
}
.swiper-pagination-bullet-active::after {
  background: #E89F71;
}
.swiper-pagination-bullet-active::before {
  transform: scale(1);
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}
.header._scroll .header__wrap {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 60px;
}
@media (any-hover: hover) {
  .header._scroll .header__wrap:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (ma-width: 767.98px) {
  .header._scroll .header__wrap {
    min-height: 70px;
  }
}
.header._scroll .header__body {
  min-height: 50px;
}
@media (min-width: 991.98px) {
  .header._scroll .header__body {
    min-height: 70px;
  }
}
.header__wrap {
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  transition: min-height 0.5s ease 0s;
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}
@media (max-width: 991.98px) {
  .header__body {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
    margin-top: 10px;
  }
}
.header__body .menu__label {
  display: none;
}
.header__body #menu__burger:checked ~ .header__main .menu__body {
  left: 0%;
}
.header__body #menu__burger:checked ~ .header__main .menu__body::before {
  left: 0%;
}
.header__body #menu__burger:checked ~ .icon-menu span {
  display: block;
  transition: transform 0.3s ease 0s;
}
.header__body #menu__burger:checked ~ .icon-menu span:first-child {
  transform-origin: left bottom;
  transform: rotate(45deg) scaleX(1) translate(2px, -4.5px);
}
.header__body #menu__burger:checked ~ .icon-menu span:nth-child(2) {
  opacity: 0;
}
.header__body #menu__burger:checked ~ .icon-menu span:last-child {
  transform-origin: left top;
  transform: rotate(-45deg) scaleX(1) translate(2px, 4.5px);
}
.header__main {
  display: flex;
  align-items: inherit;
  flex: 0 0 calc(494/(1270 - 2 * 15) * 100%);
}
@media (max-width: 991.98px) {
  .header__main {
    flex: 1 1 auto;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  font-family: Gilroy-Bold;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  color: #000000;
}
.header__search {
  padding-right: calc(15px + (32 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
}
@media (min-width: 991.98px) {
  .header__search {
    flex: 1 1 auto;
  }
}
.header .menu {
  flex: 0 1 420px;
}
@media (max-width: 767.98px) {
  .header .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
  .header .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
}
@media (min-width: 767.98px) {
  .header .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.header .menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 3px;
  padding: 5px 0;
  position: relative;
}
@media (any-hover: hover) {
  .header .menu__item:hover .menu__sub-list {
    padding: 15px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
  }
  .header .menu__item:hover .menu__arrow {
    transform: rotate(-180deg);
  }
  .header .menu__item:hover .menu__arrow,
  .header .menu__item:hover .menu__link {
    color: #E89F71;
  }
}
@media (max-width: 767.98px) {
  .header .menu__item {
    margin: 0 0 15px 0;
  }
  .header .menu__item:last-child {
    margin-bottom: 0px;
  }
}
.header .menu__link {
  font-size: inherit;
  color: inherit;
  transition: color 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .header .menu__link {
    font-size: 24px;
    font-family: Gilroy-SemiBold;
  }
}
.header .menu .menu__label {
  display: none;
}
@media (any-pointer: coarse) {
  .header .menu #menu__item-1:checked ~ .menu__sub-list,
  .header .menu #menu__item-2:checked ~ .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
    height: auto;
    padding: 15px;
  }
  .header .menu #menu__item-1:checked ~ .menu__link,
  .header .menu #menu__item-2:checked ~ .menu__link {
    color: #E89F71;
  }
  .header .menu #menu__item-1:checked ~ ._label .menu__arrow,
  .header .menu #menu__item-2:checked ~ ._label .menu__arrow {
    transform: rotate(-180deg);
    color: #E89F71;
  }
}
.header .menu__arrow {
  margin: 0 0 0 8px;
  transition: all 0.3s ease 0s;
  font-size: 8px;
}
@media (max-width: 767.98px) {
  .header .menu__arrow {
    font-size: 14px;
    font-family: Gilroy-SemiBold;
  }
}
.header .menu__sub-list {
  position: relative;
  background-color: #E89F71;
  flex: 1 1 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  height: 0px;
}
@media (min-width: 767.98px) {
  .header .menu__sub-list {
    min-width: 200px;
    left: 0;
    position: absolute;
    top: 100%;
    pointer-events: none;
    z-index: 5;
    height: max-content;
  }
}
@media (max-width: 767.98px) {
  .header .menu__sub-list {
    margin: 10px -15px 0 -15px;
  }
}
.header .menu__sub-item:not(:last-child) {
  margin: 0 0 5px 0;
}
@media (max-width: 767.98px) {
  .header .menu__sub-item {
    font-size: 20px;
  }
  .header .menu__sub-item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
.header .menu__sub-link {
  color: #ffffff;
  line-height: 120%;
}
@media (any-hover: hover) {
  .header .menu__sub-link:hover {
    text-decoration: underline;
  }
}
.header .search-form {
  max-width: 473px;
}
.header .search-form__icon {
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #262f56;
}
@media (min-width: 991.98px) {
  .header .search-form__icon {
    display: none;
  }
}
.header .search-form__input {
  color: #616161;
  font-size: 14px;
  width: 100%;
  padding: 0px 20px 0px 0px;
}
.header .search-form__input:focus {
  outline: none;
}
.header .search-form__input:focus::placeholder {
  opacity: 0;
}
.header .search-form__btn {
  flex: 0 0 45px;
  height: 45px;
  color: #333333;
  font-size: 15px;
}
.header .search-form__item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header .search-form__item {
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0;
  }
}
.header .actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  gap: calc(15px + (32 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
}
.header .actions-header__item_favorites {
  color: #262F56;
  font-size: 24px;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header .actions-header__item_favorites:hover {
    color: #E89F71;
  }
}
.header .actions-header__item_user {
  overflow: hidden;
  border-radius: 50%;
  width: calc(30px + (40 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
  height: calc(30px + (40 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
}
.header .actions-header__item_user img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .cart-header__icon {
  color: #262F56;
  font-size: 24px;
  transition: color 0.3s ease 0s;
  position: relative;
  display: block;
}
@media (any-hover: hover) {
  .header .cart-header__icon:hover {
    color: #E89F71;
  }
}
.header .cart-header__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #E89F71;
  color: #ffffff;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}
.header .cart-header__body {
  overflow: auto;
  max-height: 250px;
  background: #f4f5f7;
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 60px;
  right: 0;
  padding: 15px;
  z-index: 5;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 20px);
  transition: all 0.3s ease 0s;
}
.header .cart-header__body._active {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}
@media (max-width: 767.98px) {
  .header .cart-header__body {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
  }
}
.header .cart-header__empty {
  display: flex;
  justify-content: center;
}
.header .cart-list {
  display: flex;
}
.header .cart-list:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.header .cart-list__image {
  flex: 0 0 70px;
  height: 70px;
}
.header .cart-list__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 10px;
}
.header .cart-list__title {
  color: inherit;
  font-family: Gilroy-Medium;
  transition: color 0.3s ease 0s;
  margin: 0 0 calc(5 / 16 * 1em) 0;
}
@media (any-hover: hover) {
  .header .cart-list__title:hover {
    color: #E89F71;
  }
}
.header .cart-list__price {
  font-size: 14px;
  display: flex;
}
.header .cart-list__item-quantity {
  font-size: 14px;
  margin: 0 0 calc(5 / 14 * 1em) 0;
}
.header .cart-list__delete {
  color: #b61414;
  font-size: 14px;
  text-decoration: underline;
}
.header .cart-list__total-price {
  padding-top: 5px;
  font-size: 16px;
  font-family: Gilroy-SemiBold;
}
@media (max-width: 767.98px) {
  .header .icon-menu {
    position: relative;
    z-index: 10;
    display: flex;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: calc(15px + (32 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
  }
  .header .icon-menu span {
    display: block;
    height: 4px;
    background-color: #262F56;
    transition: all 0.3s ease 0.2s;
  }
}
.footer__body {
  border-top: 1px solid #d8d8d8;
  display: grid;
  grid-template-columns: 250px 1fr 290px;
  padding-top: calc(30px + (80 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
  padding-bottom: calc(30px + (60 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
  column-gap: calc(0px + (60 - 0) * ((100vw - 320 * 1px) / (1270 - 320)));
}
@media (max-width: calc(calc(1270 + 12) * 1px)) {
  .footer__body {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 290px;
  }
}
@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: calc(calc(1270 + 12) * 1px)) {
  .footer__main {
    grid-column: span 2;
    margin-bottom: calc(30px + (40 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
  }
}
.footer__logo {
  margin: 0px 0px calc(16 / 24 * 1em) 0px;
}
.footer__text {
  color: #898989;
  line-height: 150%;
}
.footer__text:not(:last-child) {
  margin: 0px 0px 1em 0px;
}
@media (max-width: 991.98px) {
  .footer__menu {
    margin-bottom: calc(30px + (40 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
  }
}
.footer ._footer-title {
  font-size: calc(20px + (24 - 20) * ((100vw - 320 * 1px) / (1270 - 320)));
  line-height: calc(29 / 24 * 100%);
  color: #000;
  font-family: Gilroy-Bold;
}
.footer .contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .contacts-footer__item {
  display: inline-flex;
  align-items: center;
  color: #898989;
  line-height: 150%;
  transition: color 0.3s ease 0s;
}
.footer .contacts-footer__item::before {
  margin: 0 8px 0 0;
}
.footer .contacts-footer__item:not(:last-child) {
  margin-bottom: calc(20px + (24 - 20) * ((100vw - 320 * 1px) / (1270 - 320)));
}
@media (any-hover: hover) {
  .footer .contacts-footer__item:hover {
    color: #E89F71;
  }
}
@media (min-width: 767.98px) {
  .footer .menu-footer {
    display: flex;
  }
}
@media (min-width: 767.98px) {
  .footer .menu-footer__column {
    flex: 0 1 33.33%;
  }
}
@media (max-width: 767.98px) {
  .footer .menu-footer__column {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
  }
}
.footer .menu-footer__title {
  display: inherit;
  transition: all 0.3s ease 0s;
  cursor: default;
}
@media (min-width: 767.98px) {
  .footer .menu-footer__title {
    margin: 0 0 calc(16 / 24 * 1em) 0;
  }
}
@media (max-width: 767.98px) {
  .footer .menu-footer__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}
.footer .menu-footer ._icon-arrow-down::before {
  transition: all 0.3s ease 0s;
  display: none;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .footer .menu-footer ._icon-arrow-down::before {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer .menu-footer .menu-footer__label {
  display: none;
}
.footer .menu-footer #footer__menu-1:checked ~ .menu-footer__list,
.footer .menu-footer #footer__menu-2:checked ~ .menu-footer__list,
.footer .menu-footer #footer__menu-3:checked ~ .menu-footer__list {
  padding: 15px 0 0 0;
  height: 11em;
}
.footer .menu-footer #footer__menu-1:checked ~ ._icon-arrow-down::before,
.footer .menu-footer #footer__menu-2:checked ~ ._icon-arrow-down::before,
.footer .menu-footer #footer__menu-3:checked ~ ._icon-arrow-down::before {
  transform: rotate(-180deg);
}
.footer .menu-footer__list {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
.footer .menu-footer__list li:not(:last-child) {
  margin: 0 0 15px 0;
}
@media (max-width: 767.98px) {
  .footer .menu-footer__list {
    height: 0px;
  }
}
.footer .menu-footer__link {
  color: #616161;
  transition: color 0.3s ease 0s;
  line-height: 120%;
  font-family: Gilroy-Medium;
}
@media (any-hover: hover) {
  .footer .menu-footer__link:hover {
    color: #E89F71;
  }
}
.footer .subscribe__title {
  margin: 0 0 calc(16 / 24 * 1em) 0;
}
.footer .subscribe__form {
  display: flex;
  position: relative;
}
.footer .subscribe__btn {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #E89F71;
  color: #ffffff;
  margin: 0 0 0 4px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer .subscribe__btn:hover {
    background-color: #898989;
  }
}
.footer .subscribe__input {
  width: 100%;
  padding: 0 12px;
  background-color: #f4f5f7;
  color: #828282;
}
.footer .subscribe__input:focus {
  outline: none;
}
.footer .subscribe__input:focus::placeholder {
  opacity: 0;
}
.page {
  flex: 1 1 auto;
}
.page__main-slider {
  background: #FCF8F3;
}
.page__main-slider .main-slider__container {
  position: relative;
}
@media (min-width: 991.98px) {
  .page__main-slider .main-slider__container::before {
    content: "";
    background: #f9f1e7;
    position: absolute;
    top: 0;
    width: 100vw;
    right: 376px;
    height: 100%;
  }
}
.page__main-slider .main-slider__body {
  padding: 140px 0 0 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .page__main-slider .main-slider__body {
    padding: 80px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .page__main-slider .main-slider__body {
    padding: 70px 0 0 0;
  }
}
@media (min-width: 991.98px) {
  .page__main-slider .main-slider__body {
    display: flex;
  }
}
.page__main-slider .main-slider__content {
  align-self: flex-start;
  flex: 0 0 calc(494/(1270 - 2 * 15) * 100%);
  margin-bottom: calc(15px + (80 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
}
@media (max-width: 991.98px) {
  .page__main-slider .main-slider__content {
    margin: 0 -15px;
  }
}
.page__main-slider .main-slider__slider {
  flex: 1 1 auto;
  min-width: 0;
  align-self: flex-end;
}
@media (min-width: 991.98px) {
  .page__main-slider .main-slider__slider {
    padding: 0 0 0 32px;
  }
}
.page__main-slider .content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: calc(15px + (60 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
  padding-bottom: calc(15px + (60 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
  background-color: #ffffffa9;
  background: rgba(255, 255, 255, 0.72);
}
@media (min-width: 991.98px) {
  .page__main-slider .content-main {
    padding: calc(1px + (60 - 1) * ((100vw - 320 * 1px) / (1270 - 320)));
    background: rgba(255, 255, 255, 0.9);
  }
  @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
    .page__main-slider .content-main {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }
}
.page__main-slider .content-main__title {
  font-size: calc(24px + (56 - 24) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-Bold;
  line-height: 120%;
}
.page__main-slider .content-main__title:not(:last-child) {
  margin: 0 0 calc(16 / 56 * 1em) 0;
}
.page__main-slider .content-main__text {
  font-size: calc(16px + (20 - 16) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-Medium;
  color: #898989;
  line-height: 150%;
}
.page__main-slider .content-main__text:not(:last-child) {
  margin: 0 0 calc(48 / 20 * 1em) 0;
}
.page__main-slider .content-main__button {
  min-height: calc(45px + (78 - 45) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-size: calc(16px + (20 - 16) * ((100vw - 320 * 1px) / (1270 - 320)));
  background-color: #E89F71;
  color: #ffffff;
  width: 100%;
}
@media (any-hover: hover) {
  .page__main-slider .content-main__button:hover {
    background-color: #966749;
  }
}
.page__main-slider .slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .page__main-slider .slider-main {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
.page__main-slider .slider-main__controls {
  align-self: stretch;
  margin: 0 0 20px 0;
}
@media (max-width: 991.98px) {
  .page__main-slider .slider-main__controls {
    margin: 10px 0 10px 0;
  }
}
.page__main-slider .slider-main__body {
  overflow: visible;
}
@media (min-width: 991.98px) {
  .page__main-slider .slider-main__body {
    width: calc(290px + (934 - 290) * ((100vw - 320 * 1px) / (1270 - 320)));
  }
}
@media (max-width: 991.98px) {
  .page__main-slider .slider-main__body {
    margin: 0 -15px;
  }
}
.page__main-slider .slider-main__image {
  padding: 0 0 59.1% 0;
}
@media (max-width: 991.98px) {
  .page__main-slider .slider-main__image {
    padding: 0 0 0 0 ;
  }
  .page__main-slider .slider-main__image img {
    position: relative;
  }
}
.page__main-slider .slider-main__content {
  color: inherit;
  min-width: 295px;
  max-height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: calc(15px + (24 - 15) * ((100vw - 320 * 1px) / (1270 - 320)));
  background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 767.98px) {
  .page__main-slider .slider-main__content {
    position: absolute;
    min-width: 350px;
    bottom: calc(0px + (40 - 0) * ((100vw - 320 * 1px) / (1270 - 320)));
    right: calc(0px + (40 - 0) * ((100vw - 320 * 1px) / (1270 - 320)));
  }
  @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
    .page__main-slider .slider-main__content {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }
}
.page__main-slider .slider-main__title {
  font-size: calc(22px + (28 - 22) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-SemiBold;
  line-height: 120%;
}
.page__main-slider .slider-main__title:not(:last-child) {
  margin: 0 0 calc(4 / 28 * 1em) 0;
}
.page__main-slider .slider-main__text {
  line-height: 150%;
  color: #898989;
}
.page__main-slider .slider-main__text:not(:last-child) {
  margin: 0 0 calc(8 / 16 * 1em) 0;
}
.page__main-slider .slider-main__price {
  display: flex;
  flex-direction: row-reverse;
  line-height: 150%;
  align-items: center;
  font-family: Gilroy-Medium;
  justify-content: space-between;
  font-size: calc(16px + (20 - 16) * ((100vw - 320 * 1px) / (1270 - 320)));
}
.page__main-slider .slider-main__price::before {
  margin: 0 0 0 10px;
  font-size: 12px;
}
.page__main-slider .controls-slider-main {
  display: flex;
  align-items: center;
}
.page__main-slider .controls-slider-main__dots {
  flex: 1 1 auto;
}
@media (min-width: 991.98px) {
  .page__main-slider .controls-slider-main__dots {
    padding: 0 20px 0 0;
  }
}
@media (max-width: 991.98px) {
  .page__main-slider .controls-slider-main__dots {
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .page__main-slider .controls-slider-main__arrows {
    display: none;
  }
}
.advantages {
  padding-top: calc(30px + (88 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
  padding-bottom: calc(30px + (88 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
}
.advantages__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages__item {
  display: inline-grid;
  padding: 15px 0;
  grid-template: auto auto / 85px 1fr;
}
@media (max-width: 991.98px) {
  .advantages__item {
    min-width: 280px;
  }
}
@media (max-width: 767.98px) {
  .advantages__item {
    grid-template: auto auto / auto 1fr;
  }
}
.advantages__icon {
  text-align: center;
  align-self: center;
  grid-row: span 2;
}
@media (max-width: 991.98px) {
  .advantages__icon {
    padding: 0 15px 0 0;
  }
}
.advantages__title {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 calc(2 / 18 * 1em) 0;
}
.advantages__text {
  line-height: 150%;
  color: #898989;
}
.products {
  padding-bottom: calc(30px + (44 - 30) * ((100vw - 320 * 1px) / (1270 - 320)));
}
.products__title {
  margin: 0 0 calc(32 / 40 * 1em) 0;
}
.products .products__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 32px;
}
.products__footer {
  padding: 32px 0 0 0;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.products__more {
  border: 1px solid #E89F71;
  min-width: 245px;
}
.item-product {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (any-hover: hover) {
  .item-product:hover .item-product__actions {
    opacity: 1;
    visibility: visible;
  }
}
.item-product__labels {
  position: absolute;
  flex-direction: column;
  z-index: 2;
  display: flex;
  right: calc(10px + (24 - 10) * ((100vw - 320 * 1px) / (1270 - 320)));
  top: calc(10px + (24 - 10) * ((100vw - 320 * 1px) / (1270 - 320)));
}
.item-product__label {
  flex: 0 0 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Gilroy-Medium;
}
.item-product__label:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-product__label_sale {
  background: #e97171;
}
.item-product__label_new {
  background: #2ec1ac;
}
.item-product__image {
  padding: 0 0 calc(301 / 285 * 100%) 0;
}
.item-product__body {
  flex: 1 1 auto;
  padding: 16px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}
.item-product__content {
  flex: 1 1 auto;
}
.item-product__title {
  font-size: calc(20px + (24 - 20) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-Medium;
  line-height: 120%;
}
.item-product__text {
  color: #898989;
  line-height: 150%;
  margin: 0 0 calc(8 / 24 * 1em) 0;
}
.item-product__prices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 150%;
}
.item-product__price {
  font-size: calc(16px + (20 - 16) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-Medium;
}
.item-product__price_old {
  font-size: calc(14px + (16 - 14) * ((100vw - 320 * 1px) / (1270 - 320)));
  font-family: Gilroy-Regular;
  margin: 0 0 0 16px;
  color: #b0b0b0;
  text-decoration: line-through;
}
.item-product__actions {
  transition: all 0.3s ease 0s;
}
@media (any-hover: none) {
  .item-product__actions {
    padding: 15px 0 0 0;
  }
}
@media (any-hover: hover) {
  .item-product__actions {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 58, 58, 0.74);
    z-index: 3;
  }
}
.actions-product__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: none;
}
@media (any-hover: hover) {
  .actions-product__body {
    width: 70%;
  }
}
.actions-product__button {
  flex: 1 1 100%;
}
.actions-product__button:not(:last-child) {
  margin: 0 0 24px 0;
}
.actions-product__link {
  transition: color 0.3s ease 0s;
  display: flex;
  align-items: center;
  color: inherit;
  font-family: Gilroy-Medium;
}
.actions-product__link::before {
  margin: 0 10px 0 0;
  font-size: 16px;
}
@media (any-hover: hover) {
  .actions-product__link {
    color: #ffffff;
  }
  .actions-product__link:hover {
    color: #E89F71;
  }
}
